{% extends "base.html"%}

{% block content%}

    <p> ovo je naša online trgovina gdje možete kupovati naše proizvode/odjeću</p>


    <form>
        <label for=”ime”>Ime</label></br>

        <input type=”text” name=”ime” id=”ime” /></br>

        <label for="Email adresa">Email adresa</label></br>
        
        <input type=”text” name="Email adresa" id=”prezime” /></br>
        
        <label for=”poruka”>Poruka</label></br>

        <textarea name=”poruka” id=”poruka” cols=”45″ rows=”5″></textarea></br>
    </form>

    {% endblock content%}