{% extends "base.html"%}

{% block content%}

    <p> ovo je naša online trgovina gdje možete kupovati naše proizvode/odjeću</p>

<div class="proizvodi-container">

    <div class="proizvod">
        <a href="https://www.nike.com/hr/w/womens-hoodies-sweatshirts-5e1x6z6rive"><img src="/static/img/hoodiesn.png" alt="" ></a>
        <h3>hudica maslinaste boje s natpisom</h3>
        <p>cijena: 25€</p>
    </div>

    <div class="proizvod">
        <a href="https://essentialsclothinguk.com/essentials-oversized-hoodie/"> <img src="/static/img/hoodiese.jpg" alt="" ></a>
        <h3>hudica jednobojna </h3>
        <p>cijena: 15€</p>
    </div>

    <div class="proizvod">
        <img src="/static/img/hoodies.jpg" alt="">
        <h3>hudica bež boje s natpisom essentials </h3>
        <p>cijena: 35€</p>
    </div>

</div>

{% endblock content%}
