{% extends "base.html"%}

{% block content%}
<br>
<br>
    <h1>Početna stranica</h1>
    <br>
    <p>Pozdrav hakeri i dobro došli na web aplikaciju za predmet Programiranje za web. Mi smo
      web dizajneri Škole za grafiku, dizajn i medijsku produkciju.</p>
    <p>Ako vas zanima programiranje na pravom ste mjestu!</p>
    <br>
    <p>web stranica škole: https://skola-gdmp.hr </p>
    <p>instagram profil škole: https://www.instagram.com/pzw.sgdmp/</p>

    <img src="/static/img/programiranje.jpg" alt="">
   
{% endblock content%}
    
</body>
</body>
</html>