{% extends "base.html"%}

{% block content%}
<br>
<br>
    <h1>Početna stranica</h1>
    <br>
    <p>Pozdrav hakeri i dobro došli na web aplikaciju za predmet Programiranje za web. Mi smo
      web dizajneri Škole za grafiku, dizajn i medijsku produkciju.</p>
    <p>Ako vas zanima programiranje na pravom ste mjestu!</p>
    <br>
    <p><a href="https://skola-gdmp.hr">Link web stranice škole</a>  </p>
    <p><a href="https://www.instagram.com/pzw.sgdmp/">Link instagramprofila škole</a> </p>

    <img src="/static/img/programiranje.jpg" alt="">
   
{% endblock content%}
    
</body>
</body>
</html>