{% extends "base.html"%}

{% block content%}
<br>
<br>
<h1>Python programski jezik</h1>

    <p>python je programski jezik opće namjene, interpreterski jezik</p>
    <br>
    <br>
    <p>python programerima dopušta nekoliko stilova pisanja programa</p>
    <ul>
        <li>strukturno</li>
        <li>objektno orijentirano</li>
        <li>aspektno orijentirano</li>
    </ul>
    <br>
    <br>

    <p>Python se koristi u gotovo svakoj industriji i znanstvenom području koje možete zamisliti, uključujući: </p>
    <ul>
        <li>Znanost o podacima</li>
        <li>Strojno učenje</li>
        <li>Web razvoj</li> 
        <li>obrazovanje iz informatike</li> 
        <li>Računalni vid i obrada slika</li>
        <li>Razvoj igara</li>
        <li>Medicina i farmakologija</li>
        <li>Biologija i bioinformatika</li>
        <li>Neuroznanost i psihologija</li>
        <li>Astronomija</li> 
        <li>Ostala područja poput robotike, autonomnih vozila, 
        poslovanja, meteorologije i razvoja grafičkog 
        korisničkog sučelja (GUI)</li>
    </ul>
    <br>
    <p>Razvoj Pythona u velikoj se mjeri odvija kroz postupak prijedloga poboljšanja Pythona (PEP), primarnog mehanizma za 
    predlaganje velikih novih značajki, prikupljanje doprinosa zajednice o pitanjima i dokumentiranje odluka o dizajnu Pythona. 
    Python stil kodiranja pokriven je PEP -om 8. Izvanredne PEP -ove pregledavaju i komentiraju zajednica Python i upravno vijeće.</p>
    <br>
    <br>
    <p>osnovni tipovi podataka u pythonu su:</p>
        <ul>
            <li>cjelobrojni (interger)  x=10</li>
            <li>decimalni (float)  x=3.14</li>
            <li>kompleksni brojevi (complex)  x=1j</li>
            <li>tekstualni (string)  x="Dobar dan"</li>
            <li>logički (Booleov tip podataka)  x=True ili x=False</li>
            <li>none-varijable bez postavljene vrijednosti</li>
        </ul>
        <br>
        <br>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/img/python.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/img/code.jpg" class="d-block w-100" alt="...">
          </div>
    </div>

{% endblock content%}
    
  </body>
</body>
</html>