
{% extends "base.html"%}

{% block content%}

    <h1>uvod u programiranje</h1>
        <h3>programiranje</h3>
            <p>Programiranje je pisanje uputa računalu što i kako učiniti, a izvodi se u nekom od programskih jezika.
        Stvaranje programa sadrži u sebi pojedine elemente dizajna, umjetnosti, znanosti, matematike kao i inženjeringa. 
        Osoba koja stvara program zove se programer.</p>
        <br>
        <br>
        <h3>programski jezici</h3>
            <p>Programi ili upute za računalo pišu se u programskom jeziku upotrebom određene sintakse i pravila koja 
                vrijede za svaki programski jezik (ili tip), koji se potom prevodi u strojni jezik koje je osobito za 
                određeno računalo te je ovisno o njegovoj arhitekturi. </p>
            <ul>
                <li>Assembler</li>
                <li>BASIC</li>
                <li>Pascal</li>
                <li>C/C++/C#</li>
                <li>Java</li>
                <li>Logo</li>
                <li>Fortran</li>
                <li>Python</li>
            </ul>
        
        <h3>Faze razvoja programiranja </h3>
        <p>pri izradi svakog programa potrebno je proći kroz 6. osnovne faze ili koraka:</p>
            <ol>
                <li>shatiti problem koji je potrebno riješiti</li>
                <li>rastaviti problem na manje dijelove (module)</li>
                <li>prepoznati programski elementi potrebni za rješavanje problema</li>
                <li>povezati programske elemente u smislen algoritam</li>
                <li>napisati program u odabranom programskom jeziku</li>
                <li>testirati program, pronaći rubne slučajeve te popraviti eventualno greške</li>
            </ol>
        <br>
        <br>
        <br>
        <h3>program</h3>
        <p>program je niz naredbi koje se izvode točno određenim redoslijedom s točno određenim ciljem. Naredba je temeljni dio programa.
            Programe izrađuju programeri koristeći jedan od programskih jezika. Stvaraju naredbe za aktivnosti računala koje se pokreću na 
            temelju korisnikovih akcija (pritiska miša, tipkovnice ili ekrana). Korisnik komunicira s računalom s pomoću programa.
            </p>

            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/pzw_projekt/static/img/programiranje.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/pzw_projekt/static/img/programerri.jpg" class="d-block w-100" alt="...">
                  </div>
            </div>
   
{% endblock content%}
    
  </body>
</body>
</html>